# ----------------------------------------------------------------------------------#
#                                                                                   #
#   Copyright (C) 2009 - 2025 Coozila! Licensed under the MIT License.              #
#   Coozila! Team    lab@coozila.com                                                #
#                                                                                   #
# ----------------------------------------------------------------------------------#

#   DRAGONFLYDB CLUSTER CONFIGURATION                                               #

#   NETWORK SETTINGS    ------------------------------------------------------------#

#   Local address for the application
LOCAL_LISTEN_ADDR=127.0.0.1


#   DRAGONFLYDB SERVERS    ---------------------------------------------------------#

#   Memory lock limits for DragonflyDB instances 
#   Use -1 for auto-adjustment
DRAGONFLYDB_MEMLOCK=-1 

#   Default hostname for DragonflyDB instances
# DRAGONFLYDB_HOSTNAME=localhost

# DragonflyDB Master Hostnames
DRAGONFLYDB_MASTER1_HOSTNAME=dragonfly_master1

# DragonflyDB Slave Hostnames
DRAGONFLYDB_SLAVE1_HOSTNAME=dragonfly_slave1


# ----------------------------------------------------------------------------------#

#   MCROUTER SERVER    -------------------------------------------------------------#

#   MCROUTER VERSION
MCROUTER_VERSION=40.0.0

#   MCROUTER HOSTNAME
MCROUTER_HOSTNAME=localhost

#   Hostnames for mcrouter instances
MCROUTER1_HOSTNAME=mcrouter1
MCROUTER2_HOSTNAME=mcrouter2


# ----------------------------------------------------------------------------------#

#   CLUSTER POOL VARIANT FOR 2 MASTER + 2 SLAVE DRAGONFLYDB   ----------------------#

#   1. Single-Pool Variant:
#   A simple configuration with less logical separation.
#   Exemple: MCROUTER_POOL_VARIANT=1pool
MCROUTER_POOL_VARIANT=1pool


# ----------------------------------------------------------------------------------#

#   DATA STORAGE MASTER & SLAVE   ---------------------------------------------------#

# Environment Variables for DragonflyDB Data Storage Cluster Configuration for master slave

# DRAGONFLYDB_MASTER1_DATA
# This variable defines the data storage path for the DragonflyDB master instance 1.
#DRAGONFLYDB_MASTER1_DATA=/path/to/your/dragonfly_master1_data

# DRAGONFLYDB_SLAVE1_DATA
# This variable defines the data storage path for the DragonflyDB slave instance 1.
#DRAGONFLYDB_SLAVE1_DATA=/path/to/your/dragonfly_slave1_data


# ----------------------------------------------------------------------------------#

#   SNAPSHOT_CRON    -----------------------------------------------------------------#

# Environment Variables for DragonflyDB Cluster Configuration

#   SNAPSHOT_CRON
#   This variable defines the cron schedule for taking snapshots of the DragonflyDB instances.
#   The default value is set to "*/5 * * * *", which means that snapshots will be taken every 5 minutes.
#   You can modify this variable to set a different schedule according to your requirements.
#   The format follows standard cron syntax:
#   ┌───────────── minute (0 - 59)
#   │ ┌───────────── hour (0 - 23)
#   │ │ ┌───────────── day of the month (1 - 31)
#   │ │ │ ┌───────────── month (1 - 12)
#   │ │ │ ┌───────────── day of the week (0 - 6) (Sunday to Saturday)
#   │ │ │ │
#   * * * * *
#
#   Examples:
#
#   Take a snapshot every hour at minute 0
#SNAPSHOT_CRON="0 * * * *"

#   Take a snapshot every day at midnight
#SNAPSHOT_CRON="0 0 * * *"

#   Take a snapshot every 10 minutes
#SNAPSHOT_CRON="*/10 * * * *"

#   Default: Take a snapshot every 5 minutes
#SNAPSHOT_CRON="*/5 * * * *"  

#   Default: Take a snapshot every 1 minutes
SNAPSHOT_CRON="*/1 * * * *"  